@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.navigator {
   grid-area: header;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   background-color: transparent;
   width: 90vw;
   height: 30vh;
   margin-left: auto;
   margin-right: auto;
   position: sticky;
}

.logo-elements {
   display: flex;
   flex-flow: column wrap;
   justify-content: flex-start;
   align-self: center;
   justify-self: flex-start;
   background-color: transparent;
   height: 100%;
   width: 500px;
}

.tilt2 {
   display: flex;
   align-content: center;
   justify-content: center;
   /* align-items: center; */
   height: 150px;
   width: 150px;
}

.logo {
   align-self: center;
   height: 20vh;
   width: 20vh;
}

@media (max-width:1100px){
   .name {
      position: absolute;
      justify-self: flex-start;
      margin-top: 7vh;
      color: white;
      font-size: 3vh;
      text-align: left;
      height: 5vh;
      width: 10vh;
   }
}

@media (min-width:1100px){
   .name {
      position: absolute;
      justify-self: flex-start;
      margin-top: 5vh;
      color: white;
      font-size: 5vh;
      text-align: left;
      height: 5vh;
      width: 10vh;
   }
}

.social-wrap {
   display: flex;
   justify-content: space-evenly;
   width: 250px;
   margin-right: auto;
   align-self: center;
}

.social-pixel {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width: 6vh;
   height: 6vh;
   color: white;
   text-transform: uppercase;
   background-color: rgb(80, 80, 80);
   border: none;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   box-sizing: border-box;
   cursor: pointer;
   font-family: 'Press Start 2P', cursive;
   outline: none;
}
.social-pixel::after {
  content: "";
  position: absolute;
  width: 6vh;
  height: 6vh;
  top: 10px;
  left: 0;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  z-index: -1;
}
.social-pixel:hover {
   background-color: rgb(70, 70, 70);
   color: rgb(215, 215, 215);
   cursor: grab;
}
.social-pixel:active {
  top: 5px;
  cursor: grabbing;
}
.social-pixel:active::after {
  top: 2px;
  background-color: rgb(80, 80, 80);
}

.social-icon {
   align-self: center;
   justify-self: end;
   height: 4vh;
   width: 4vh;
}


@media (max-width:1100px){
   .nav-buttons {
      display: flex;
      justify-self: end;
      justify-content: center;
      width: auto;
   }

   .button-container {
      display: flex;
      justify-content: space-evenly;
      justify-self: center;
      width: 50vw;
      align-self: center;
   }

   .pixel {
      display: block;
      align-items: center;
      justify-content: center;
      position: relative;
      width: auto;
      height: 4vw;
      color: white;
      /* font-size: 5vh; */
      font-size: .75em;
      text-transform: uppercase;
      background-color: rgb(43, 106, 116);
      border: none;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-sizing: border-box;
      cursor: pointer;
      font-family: 'Press Start 2P', cursive;
      outline: none;
   }
   .pixel::after {
      content: "";
      font-color: transparent;
      position: absolute;
      width: 100%;
      height: 4vw;
      top: 6px;
      left: 0;
      background-color: rgb(20, 50, 54);
      border-radius: 15px;
      z-index: -1;
   }
   .pixel:hover {
   background-color: rgb(29, 72, 78);
   color: rgb(215, 215, 215);
   cursor: grab;
   }
   .pixel:active {
   top: 10px;
   cursor: grabbing;
   }
   .pixel:active::after {
   top: 2px;
   background-color: rgb(43, 106, 116);
   }
}

@media (min-width:1100px){
   .nav-buttons {
      display: flex;
      justify-self: end;
      width: 50vw;
   }

   .button-container {
      display: flex;
      justify-content: space-evenly;
      width: 50vw;
      align-self: center;
   }

   .pixel {
      display: block;
      align-items: center;
      justify-content: center;
      position: relative;
      width: auto;
      height: 4vw;
      color: white;
      /* font-size: 5vh; */
      font-size: 1.5em;
      text-transform: uppercase;
      background-color: rgb(43, 106, 116);
      border: none;
      margin-left: auto;
      margin-right: auto;
      border-radius: 15px;
      box-sizing: border-box;
      cursor: pointer;
      font-family: 'Press Start 2P', cursive;
      outline: none;
   }
   .pixel::after {
      content: "";
      font-color: transparent;
      position: absolute;
      width: 100%;
      height: 4vw;
      top: 12px;
      left: 0;
      background-color: rgb(20, 50, 54);
      border-radius: 15px;
      z-index: -1;
   }
   .pixel:hover {
   background-color: rgb(29, 72, 78);
   color: rgb(215, 215, 215);
   cursor: grab;
   }
   .pixel:active {
   top: 10px;
   cursor: grabbing;
   }
   .pixel:active::after {
   top: 2px;
   background-color: rgb(43, 106, 116);
   }
}