@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.cTitle {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    font-size: 12vw;
    color: rgba(255, 255, 255, 0.15);
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    cursor: default;
}

.contact-info{
    margin-top: 5vh;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-align: left;
}

.contact-message{
    font-size: 4vw;
}

.contact-details{
    font-size: 3vw;
}